$app-color-eden: #12525e;
$app-color-black: #000000;
$app-color-white: #ffffff;
$app-color-mirage: #18202a;
$app-color-wild-sand: #f4f4f4;
$app-color-dusty-gray: #999999;
$app-color-ocean-green: #42b883;