$docs-color-eden: #12525e;
$docs-color-black: #000000;
$docs-color-white: #ffffff;
$docs-color-mirage: #18202a;
$docs-color-wild-sand: #f4f4f4;
$docs-color-dusty-gray: #999999;
$docs-color-ocean-green: #42b883;