// https://www.beautycolorcode.com/d2d1cd
// http://chir.ag/projects/name-that-color/

// USAGE:
// 1. TAKE A COLOR FROM THE GUIDELINE AND PUT IT INTO THE WEBSITE `NAME THAT COLOR` (LINK ABOVE).
// 2. IF IT ISN'T ALREADY DECLARED BELOW, ADD AN EXACT-MATCH VARIABLE BASED ON THE COLOR NAME!

$color-black: #000000;
$color-iron: #d0d1d2;
$color-white: #ffffff;
$color-gallery: #ebebeb;
$color-wild-sand: #f4f4f4;
$color-silver: #cccccc;
$color-hot-pink: #ff5db1;
$color-rose: #ef017c;
