$docs-color-black: #000000;
$docs-color-iron: #d0d1d2;
$docs-color-white: #ffffff;
$docs-color-gallery: #ebebeb;
$docs-color-wild-sand: #f4f4f4;
$docs-color-silver: #cccccc;
$docs-color-hot-pink: #ff5db1;
$docs-color-rose: #ef017c;
